<div class="sbox side-invite-tip">
  <div class="sbox-content bginvite">
    <div class="tip">
      <h2><img src="/static/theme/xiutuan/css/i/sidebar_t2.png" alt="邀请有奖" /></h2>
      <p class="text">每邀请一位好友首次购买，您将获<strong><span class="money">{$currency}</span>${abs(intval($INI['system']['invitecredit']))}</strong>元返利</p>
      <p class="link"><a href="/account/invite.php" onclick="javascript:_gaq.push(['_trackEvent','other', 'got_invite', 'invite']);">&raquo;&nbsp;点击获取您的专用邀请链接</a></p>
    </div>
  </div>
</div>
