<!--{if trim(strip_tags($INI['bulletin'][0]))}-->
               <div class="xit_tuanduidayi" >全局公告 >></div>
                  <div class="xit_tuanduidayixia">
                     
			<div style="margin:5px">{$INI['bulletin'][0]}</div>
              
             </div>


<!--{/if}-->

<!--{if $city['id']&&trim(strip_tags($INI['bulletin'][$city['id']]))}-->
               <div class="xit_tuanduidayi" >{$city['name']}公告 >></div>
                  <div class="xit_tuanduidayixia">
                     
			<div style="margin:5px">{$INI['bulletin'][$city['id']]}</div>
              
             </div>


<!--{/if}-->
