<!--{include header}-->
<!--xit_banner2-->
   <script src="/static/theme/xiutuan/js/xit_jsqiehuan.js" type="text/javascript"></script>
   <!--start 图片广告轮播-->
   <div class="xit_dabanner"><script type="text/javascript" src="/static/theme/xiutuan/banner/banner.php?location=top"></script></div>
    <!--fenlei-->
	<!--{include block_navigator_ev56}-->
<!--paixu-->
    <div class="xit_paixu">
             <div class="xit_paixuzi">排序：
		 <a <!--{if $_GET[s]!=='b'&&$_GET[s]!=='n'&&$_GET[s]!=='jg'&&$_GET[s]!=='zk'&&$_GET[s]!=='jgd'&&$_GET[s]!=='zkd'}-->class="current"<!--{else}--><!--{/if}--> href="/?gid=<?php echo $gid?>"> <span>默认</span></a>|
		 <a <!--{if $_GET[s]=='n'}-->style="color:#fff;background:#CD1A01" <!--{else}--><!--{/if}-->  href="/?gid=<?php echo $gid?>&s=n"> <span>最新</span></a>|
		 <a  <!--{if $_GET[s]=='b'}-->style="color:#fff;background:#CD1A01" <!--{else}--><!--{/if}--> href="/?gid=<?php echo $gid?>&s=b" > <span>最具人气</span></a>|
		 
				  <!--{if $_GET[s]=='jg'}--><a  <!--{if $_GET[s]=='jg'}-->style="color:#fff;background:#CD1A01" <!--{else}--><!--{/if}--> href="/?gid=<?php echo $gid?>&s=jgd" > <span>价格↓</span></a>|<!--{else}--><a  <!--{if $_GET[s]=='jgd'}-->style="color:#fff;background:#CD1A01" <!--{else}--><!--{/if}--> href="/?gid=<?php echo $gid?>&s=jg" > <span>价格↑</span></a>|<!--{/if}-->
				  <!--{if $_GET[s]=='zkd'}--><a  <!--{if $_GET[s]=='zkd'}-->style="color:#fff;background:#CD1A01" <!--{else}--><!--{/if}--> href="/?gid=<?php echo $gid?>&s=zk" > <span>折扣↓</span></a><!--{else}--><a  <!--{if $_GET[s]=='zk'}-->style="color:#fff;background:#CD1A01" <!--{else}--><!--{/if}--> href="/?gid=<?php echo $gid?>&s=zkd" > <span>折扣↑</span></a><!--{/if}-->
		 </div>
         <div class="">
		 {$pagestring}
		 </div>
    </div>
    <div style="clear:both"></div>
    
    <!--shangpin-->
	<div class="xit_waikuang">
	<!--{loop $teams $tindex $oneev56}-->
			 <div class="xit_tu <!-- {if $tindex%3 <> 2} -->xit_boedr<!-- {/if} -->">
				<div class="xit_tu1"><a href="/team.php?id={$oneev56['id']}" target="_blank"><img src="${team_image($oneev56['image'])}" width="272" height="272" alt="{$oneev56['title']}" title="{$oneev56['title']}"/></a><div class="xit_yuanjia"><span class="xit_zhekou">原价:<font class="xit_guanchuan">${moneyit($oneev56['market_price'])}</font>元</span>   <span class="xit_zhekou xit_zhekou_tr">折扣:${team_discount($oneev56)}折</span>   <span class="xit_zhekou_sp"><font class="xit_767">{$oneev56['now_number']}</font>人购买 </span></div>
				</div>
				
					<!--{if ($oneev56['state']=='soldout')}-->
				<div class="xiu_tuanniu_wan"><p>¥<span>${moneyit($oneev56['team_price'])}</span></p><a href="/team.php?id={$oneev56['id']}" target="_blank"><img src="/static/theme/xiutuan/img/xit_maiguangle.jpg" /></a></div>
					<!--{elseif $oneev56['close_time']}-->
                        <div class="xiu_tuanniu_wan"><p>¥<span>${moneyit($oneev56['team_price'])}</span></p><a href="/team.php?id={$oneev56['id']}" target="_blank"><img src="/static/theme/xiutuan/img/xit_maiguangle.jpg" /></a></div>
					<!--{else}-->                        
				<div class="xiu_tuanniu"><p>¥<span>${moneyit($oneev56['team_price'])}</span></p><a href="/team.php?id={$oneev56['id']}" target="_blank"><img src="/static/theme/xiutuan/img/xit_chakan.jpg" /></a></div>
					<!--{/if}-->
				
				<div class="xit_jinri"><span>【今日团购】</span><a href="/team.php?id={$oneev56['id']}" target="_blank"  title="{$one['title']}">{$oneev56['title']}</a></div>
			 </div>
			 <!-- {if $tindex%3 == 2} -->
				 	         	<div class="clear"></div>
	         	<div class="xit_bottom"></div>
			 <!-- {/if} -->
			 <!-- {/loop} -->
				 			  			</div>		  
   	           <div class="clear"></div>
   

<!--paixu-->
    <div class="xit_paixu">
             <div class="xit_paixuzi">排序：
		 <a <!--{if $_GET[s]!=='b'&&$_GET[s]!=='n'&&$_GET[s]!=='jg'&&$_GET[s]!=='zk'&&$_GET[s]!=='jgd'&&$_GET[s]!=='zkd'}-->class="current"<!--{else}--><!--{/if}--> href="/?gid=<?php echo $gid?>"> <span>默认</span></a>|
		 <a <!--{if $_GET[s]=='n'}-->style="color:#fff;background:#CD1A01" <!--{else}--><!--{/if}-->  href="/?gid=<?php echo $gid?>&s=n"> <span>最新</span></a>|
		 <a  <!--{if $_GET[s]=='b'}-->style="color:#fff;background:#CD1A01" <!--{else}--><!--{/if}--> href="/?gid=<?php echo $gid?>&s=b" > <span>最具人气</span></a>|
		 
				  <!--{if $_GET[s]=='jg'}--><a  <!--{if $_GET[s]=='jg'}-->style="color:#fff;background:#CD1A01" <!--{else}--><!--{/if}--> href="/?gid=<?php echo $gid?>&s=jgd" > <span>价格↓</span></a>|<!--{else}--><a  <!--{if $_GET[s]=='jgd'}-->style="color:#fff;background:#CD1A01" <!--{else}--><!--{/if}--> href="/?gid=<?php echo $gid?>&s=jg" > <span>价格↑</span></a>|<!--{/if}-->
				  <!--{if $_GET[s]=='zkd'}--><a  <!--{if $_GET[s]=='zkd'}-->style="color:#fff;background:#CD1A01" <!--{else}--><!--{/if}--> href="/?gid=<?php echo $gid?>&s=zk" > <span>折扣↓</span></a><!--{else}--><a  <!--{if $_GET[s]=='zk'}-->style="color:#fff;background:#CD1A01" <!--{else}--><!--{/if}--> href="/?gid=<?php echo $gid?>&s=zkd" > <span>折扣↑</span></a><!--{/if}-->
		 </div>
         <div class="">
		 {$pagestring}
		 </div>
    </div>
    <div style="clear:both"></div>


<!--{include footer}-->